@font-face {
  font-family: "primaryFont";
  src: url("../public/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "title";
  src: url("../public/Roboto/Roboto-Regular.ttf");
}

* {
  font-family: "primaryFont";
}

h1,
h2,
h3 {
  font-family: "title";
}

h1,
h2 {
  color: #fff;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #0b2752,
    #224777,
    #37699d,
    #4d8ec4,
    #64b5eb
  );
}

.buttonPrimary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border: 2px solid;
  background-color: #fff;
  color: #0b2752;
  border-radius: 5px;
  transition-duration: 300ms;
  transform: scale(1);
}

.buttonPrimary:hover {
  border: 2px solid transparent;
  background: #0b2752;
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

.link {
  color: #fff;
}

.lb {
  margin: 0px 20px;
}

.t{
  display: flex;
  flex-direction: column;
  align-items: center;
}